body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
  background: #eeffee;
  padding: 10px;
  margin-bottom: 10px;
}
ul li .edit {
  display: none;
}
ul li.edit .edit {
  display: initial;
}
ul li.edit .noedit {
  display: none;
}
figure {
  display: inline-block;
  border: 1px dotted gray;
  margin: 20px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}
figure figcaption {
  border: 1px dotted blue;
  text-align: center;
}
